In [4]:
import pandas as pd

#Method 1- specifying full path to the file to be read
stats=pd.read_csv("C:\\Users\\Madhav\\Desktop\\PAZ Code\\Dataset\\DemographicData.csv")

In [6]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.90000,High income
1,Afghanistan,AFG,35.253,5.90000,Low income
2,Angola,AGO,45.985,19.10000,Upper middle income
3,Albania,ALB,12.877,57.20000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00000,High income
5,Argentina,ARG,17.716,59.90000,High income
6,Armenia,ARM,13.308,41.90000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.40000,High income
8,Australia,AUS,13.200,83.00000,High income
9,Austria,AUT,9.400,80.61880,High income
10,Azerbaijan,AZE,18.300,58.70000,Upper middle income
11,Burundi,BDI,44.151,1.30000,Low income
12,Belgium,BEL,11.200,82.17020,High income
13,Benin,BEN,36.440,4.90000,Low income
14,Burkina Faso,BFA,40.551,9.10000,Low income
15,Bangladesh,BGD,20.142,6.63000,Lower middle income
16,Bulgaria,BGR,9.200,53.06150,Upper middle income
17,Bahrain,BHR,15.040,90.00004,High income
18,"Bahamas, The",BHS,15.339,72.00000,High income
19,Bosnia and Herzegovina,BIH,9.062,57.79000,Upper middle income
20,Belarus,BLR,12.500,54.17000,Upper middle income
21,Belize,BLZ,23.092,33.60000,Upper middle income
22,Bermuda,BMU,10.400,95.30000,High income
23,Bolivia,BOL,24.236,36.94000,Lower middle income
24,Brazil,BRA,14.931,51.04000,Upper middle income
25,Barbados,BRB,12.188,73.00000,High income
26,Brunei Darussalam,BRN,16.405,64.50000,High income
27,Bhutan,BTN,18.134,29.90000,Lower middle income
28,Botswana,BWA,25.267,15.00000,Upper middle income
29,Central African Republic,CAF,34.076,3.50000,Low income
...,...,...,...,...,...
165,Seychelles,SYC,18.600,50.40000,High income
166,Syrian Arab Republic,SYR,24.043,26.20000,Lower middle income
167,Chad,TCD,45.745,2.30000,Low income
168,Togo,TGO,36.080,4.50000,Low income
169,Thailand,THA,11.041,28.94000,Upper middle income
170,Tajikistan,TJK,30.792,16.00000,Lower middle income
171,Turkmenistan,TKM,21.322,9.60000,Upper middle income
172,Timor-Leste,TLS,35.755,1.10000,Lower middle income
173,Tonga,TON,25.409,35.00000,Upper middle income
174,Trinidad and Tobago,TTO,14.590,63.80000,High income
175,Tunisia,TUN,19.800,43.80000,Upper middle income
176,Turkey,TUR,16.836,46.25000,Upper middle income
177,Tanzania,TZA,39.518,4.40000,Low income
178,Uganda,UGA,43.474,16.20000,Low income
179,Ukraine,UKR,11.100,41.00000,Lower middle income
180,Uruguay,URY,14.374,57.69000,High income
181,United States,USA,12.500,84.20000,High income
182,Uzbekistan,UZB,22.500,38.20000,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.00000,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30000,High income
186,Vietnam,VNM,15.537,43.90000,Lower middle income
187,Vanuatu,VUT,26.739,11.30000,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.60000,Lower middle income
189,Samoa,WSM,26.172,15.30000,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.00000,Lower middle income
191,South Africa,ZAF,20.850,46.50000,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20000,Low income
193,Zambia,ZMB,40.471,15.40000,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50000,Low income

In [16]:
#Method 2- relative path, by changing directory
import os
print(os.getcwd())
os.chdir("C:\\Users\\Madhav\\Desktop\\PAZ Code\\Dataset")
print(os.getcwd())
stats2=pd.read_csv('DemographicData.csv')
stats2

C:\Users\Madhav\Desktop\PAZ Code\Dataset
C:\Users\Madhav\Desktop\PAZ Code\Dataset

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.90000,High income
1,Afghanistan,AFG,35.253,5.90000,Low income
2,Angola,AGO,45.985,19.10000,Upper middle income
3,Albania,ALB,12.877,57.20000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00000,High income
5,Argentina,ARG,17.716,59.90000,High income
6,Armenia,ARM,13.308,41.90000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.40000,High income
8,Australia,AUS,13.200,83.00000,High income
9,Austria,AUT,9.400,80.61880,High income
10,Azerbaijan,AZE,18.300,58.70000,Upper middle income
11,Burundi,BDI,44.151,1.30000,Low income
12,Belgium,BEL,11.200,82.17020,High income
13,Benin,BEN,36.440,4.90000,Low income
14,Burkina Faso,BFA,40.551,9.10000,Low income
15,Bangladesh,BGD,20.142,6.63000,Lower middle income
16,Bulgaria,BGR,9.200,53.06150,Upper middle income
17,Bahrain,BHR,15.040,90.00004,High income
18,"Bahamas, The",BHS,15.339,72.00000,High income
19,Bosnia and Herzegovina,BIH,9.062,57.79000,Upper middle income
20,Belarus,BLR,12.500,54.17000,Upper middle income
21,Belize,BLZ,23.092,33.60000,Upper middle income
22,Bermuda,BMU,10.400,95.30000,High income
23,Bolivia,BOL,24.236,36.94000,Lower middle income
24,Brazil,BRA,14.931,51.04000,Upper middle income
25,Barbados,BRB,12.188,73.00000,High income
26,Brunei Darussalam,BRN,16.405,64.50000,High income
27,Bhutan,BTN,18.134,29.90000,Lower middle income
28,Botswana,BWA,25.267,15.00000,Upper middle income
29,Central African Republic,CAF,34.076,3.50000,Low income
...,...,...,...,...,...
165,Seychelles,SYC,18.600,50.40000,High income
166,Syrian Arab Republic,SYR,24.043,26.20000,Lower middle income
167,Chad,TCD,45.745,2.30000,Low income
168,Togo,TGO,36.080,4.50000,Low income
169,Thailand,THA,11.041,28.94000,Upper middle income
170,Tajikistan,TJK,30.792,16.00000,Lower middle income
171,Turkmenistan,TKM,21.322,9.60000,Upper middle income
172,Timor-Leste,TLS,35.755,1.10000,Lower middle income
173,Tonga,TON,25.409,35.00000,Upper middle income
174,Trinidad and Tobago,TTO,14.590,63.80000,High income
175,Tunisia,TUN,19.800,43.80000,Upper middle income
176,Turkey,TUR,16.836,46.25000,Upper middle income
177,Tanzania,TZA,39.518,4.40000,Low income
178,Uganda,UGA,43.474,16.20000,Low income
179,Ukraine,UKR,11.100,41.00000,Lower middle income
180,Uruguay,URY,14.374,57.69000,High income
181,United States,USA,12.500,84.20000,High income
182,Uzbekistan,UZB,22.500,38.20000,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.00000,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30000,High income
186,Vietnam,VNM,15.537,43.90000,Lower middle income
187,Vanuatu,VUT,26.739,11.30000,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.60000,Lower middle income
189,Samoa,WSM,26.172,15.30000,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.00000,Lower middle income
191,South Africa,ZAF,20.850,46.50000,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20000,Low income
193,Zambia,ZMB,40.471,15.40000,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50000,Low income

---

In [26]:
#Exploring dataset
print(len(stats))         #1. Number of rows
print(stats.columns)      #2. Column names
print(len(stats.columns)) #3. Number of columns
print(stats.head(3))      #4. Prints top n entries
print()
print(stats.tail())       #5. Prints bottom 5 entries by default
print()
print(stats.info())       #6. Information on columns
print(stats.describe())   #7. Statistics on numeric columns in data frame
print(stats.describe().transpose())  #8. Transposing the above

195
Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')
5
  Country Name Country Code  Birth rate  Internet users         Income Group
0        Aruba          ABW      10.244            78.9          High income
1  Afghanistan          AFG      35.253             5.9           Low income
2       Angola          AGO      45.985            19.1  Upper middle income

         Country Name Country Code  Birth rate  Internet users  \
190       Yemen, Rep.          YEM      32.947            20.0
191      South Africa          ZAF      20.850            46.5
192  Congo, Dem. Rep.          COD      42.394             2.2
193            Zambia          ZMB      40.471            15.4
194          Zimbabwe          ZWE      35.715            18.5

            Income Group
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
Country Name      195 non-null object
Country Code      195 non-null object
Birth rate        195 non-null float64
Internet users    195 non-null float64
Income Group      195 non-null object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB
None
       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800
                count       mean        std  min      25%    50%      75%  \
Birth rate      195.0  21.469928  10.605467  7.9  12.1205  19.68  29.7595
Internet users  195.0  42.076471  29.030788  0.9  14.5200  41.00  66.2250

                    max
Birth rate      49.6610
Internet users  96.5468

---

In [31]:
#Renaming column name
stats.columns
stats.columns=['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup']
stats.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')

---

In [35]:
#Subsetting dataframes using pandas

#Subsetting rows
print(stats[1:4])   #subset of 3 rows from 1st to 3rd rows, inclusive
print()
print(stats[:5])    #subsets from 1st row to 5th(index 0)

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income

            CountryName CountryCode  BirthRate  InternetUsers  \
0                 Aruba         ABW     10.244           78.9
1           Afghanistan         AFG     35.253            5.9
2                Angola         AGO     45.985           19.1
3               Albania         ALB     12.877           57.2
4  United Arab Emirates         ARE     11.044           88.0

           IncomeGroup
0          High income
1           Low income
2  Upper middle income
3  Upper middle income
4          High income

In [38]:
#Exercise- reversing data frame
print(stats[::-1])

                        CountryName CountryCode  BirthRate  InternetUsers  \
194                        Zimbabwe         ZWE     35.715       18.50000
193                          Zambia         ZMB     40.471       15.40000
192                Congo, Dem. Rep.         COD     42.394        2.20000
191                    South Africa         ZAF     20.850       46.50000
190                     Yemen, Rep.         YEM     32.947       20.00000
189                           Samoa         WSM     26.172       15.30000
188              West Bank and Gaza         PSE     30.394       46.60000
187                         Vanuatu         VUT     26.739       11.30000
186                         Vietnam         VNM     15.537       43.90000
185           Virgin Islands (U.S.)         VIR     10.700       45.30000
184                   Venezuela, RB         VEN     19.842       54.90000
183  St. Vincent and the Grenadines         VCT     16.306       52.00000
182                      Uzbekistan         UZB     22.500       38.20000
181                   United States         USA     12.500       84.20000
180                         Uruguay         URY     14.374       57.69000
179                         Ukraine         UKR     11.100       41.00000
178                          Uganda         UGA     43.474       16.20000
177                        Tanzania         TZA     39.518        4.40000
176                          Turkey         TUR     16.836       46.25000
175                         Tunisia         TUN     19.800       43.80000
174             Trinidad and Tobago         TTO     14.590       63.80000
173                           Tonga         TON     25.409       35.00000
172                     Timor-Leste         TLS     35.755        1.10000
171                    Turkmenistan         TKM     21.322        9.60000
170                      Tajikistan         TJK     30.792       16.00000
169                        Thailand         THA     11.041       28.94000
168                            Togo         TGO     36.080        4.50000
167                            Chad         TCD     45.745        2.30000
166            Syrian Arab Republic         SYR     24.043       26.20000
165                      Seychelles         SYC     18.600       50.40000
..                              ...         ...        ...            ...
29         Central African Republic         CAF     34.076        3.50000
28                         Botswana         BWA     25.267       15.00000
27                           Bhutan         BTN     18.134       29.90000
26                Brunei Darussalam         BRN     16.405       64.50000
25                         Barbados         BRB     12.188       73.00000
24                           Brazil         BRA     14.931       51.04000
23                          Bolivia         BOL     24.236       36.94000
22                          Bermuda         BMU     10.400       95.30000
21                           Belize         BLZ     23.092       33.60000
20                          Belarus         BLR     12.500       54.17000
19           Bosnia and Herzegovina         BIH      9.062       57.79000
18                     Bahamas, The         BHS     15.339       72.00000
17                          Bahrain         BHR     15.040       90.00004
16                         Bulgaria         BGR      9.200       53.06150
15                       Bangladesh         BGD     20.142        6.63000
14                     Burkina Faso         BFA     40.551        9.10000
13                            Benin         BEN     36.440        4.90000
12                          Belgium         BEL     11.200       82.17020
11                          Burundi         BDI     44.151        1.30000
10                       Azerbaijan         AZE     18.300       58.70000
9                           Austria         AUT      9.400       80.61880
8                         Australia         AUS     13.200       83.00000
7               Antigua and Barbuda         ATG     16.447       63.40000
6                           Armenia         ARM     13.308       41.90000
5                         Argentina         ARG     17.716       59.90000
4              United Arab Emirates         ARE     11.044       88.00000
3                           Albania         ALB     12.877       57.20000
2                            Angola         AGO     45.985       19.10000
1                       Afghanistan         AFG     35.253        5.90000
0                             Aruba         ABW     10.244       78.90000

             IncomeGroup
194           Low income
193  Lower middle income
192           Low income
191  Upper middle income
190  Lower middle income
189  Lower middle income
188  Lower middle income
187  Lower middle income
186  Lower middle income
185          High income
184          High income
183  Upper middle income
182  Lower middle income
181          High income
180          High income
179  Lower middle income
178           Low income
177           Low income
176  Upper middle income
175  Upper middle income
174          High income
173  Upper middle income
172  Lower middle income
171  Upper middle income
170  Lower middle income
169  Upper middle income
168           Low income
167           Low income
166  Lower middle income
165          High income
..                   ...
29            Low income
28   Upper middle income
27   Lower middle income
26           High income
25           High income
24   Upper middle income
23   Lower middle income
22           High income
21   Upper middle income
20   Upper middle income
19   Upper middle income
18           High income
17           High income
16   Upper middle income
15   Lower middle income
14            Low income
13            Low income
12           High income
11            Low income
10   Upper middle income
9            High income
8            High income
7            High income
6    Lower middle income
5            High income
4            High income
3    Upper middle income
2    Upper middle income
1             Low income
0            High income

[195 rows x 5 columns]

In [41]:
#Exercise- print every 20th row
print(stats[::20])

    CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0         Aruba         ABW     10.244        78.9000          High income
20      Belarus         BLR     12.500        54.1700  Upper middle income
40   Costa Rica         CRI     15.022        45.9600  Upper middle income
60        Gabon         GAB     30.555         9.2000  Upper middle income
80        India         IND     20.291        15.1000  Lower middle income
100       Libya         LBY     21.425        16.5000  Upper middle income
120  Mozambique         MOZ     39.705         5.4000           Low income
140      Poland         POL      9.600        62.8492          High income
160    Suriname         SUR     18.455        37.4000  Upper middle income
180     Uruguay         URY     14.374        57.6900          High income

In [46]:
#Subsetting columns
print(stats['CountryName'])  #Displays the column with entered column name
print('-----------------------------------------------------------------------------------------------')
print(stats.CountryName)     #Quick access to a single column
print('-----------------------------------------------------------------------------------------------')
print(stats[['CountryName','IncomeGroup']])  #When parameter entered as a list of column names, the same columns are printed
print('-----------------------------------------------------------------------------------------------')
print(stats.CountryName.head())      #Prints 5 entries for the given column name

0                               Aruba
1                         Afghanistan
2                              Angola
3                             Albania
4                United Arab Emirates
5                           Argentina
6                             Armenia
7                 Antigua and Barbuda
8                           Australia
9                             Austria
10                         Azerbaijan
11                            Burundi
12                            Belgium
13                              Benin
14                       Burkina Faso
15                         Bangladesh
16                           Bulgaria
17                            Bahrain
18                       Bahamas, The
19             Bosnia and Herzegovina
20                            Belarus
21                             Belize
22                            Bermuda
23                            Bolivia
24                             Brazil
25                           Barbados
26                  Brunei Darussalam
27                             Bhutan
28                           Botswana
29           Central African Republic
                    ...
165                        Seychelles
166              Syrian Arab Republic
167                              Chad
168                              Togo
169                          Thailand
170                        Tajikistan
171                      Turkmenistan
172                       Timor-Leste
173                             Tonga
174               Trinidad and Tobago
175                           Tunisia
176                            Turkey
177                          Tanzania
178                            Uganda
179                           Ukraine
180                           Uruguay
181                     United States
182                        Uzbekistan
183    St. Vincent and the Grenadines
184                     Venezuela, RB
185             Virgin Islands (U.S.)
186                           Vietnam
187                           Vanuatu
188                West Bank and Gaza
189                             Samoa
190                       Yemen, Rep.
191                      South Africa
192                  Congo, Dem. Rep.
193                            Zambia
194                          Zimbabwe
Name: CountryName, Length: 195, dtype: object
-----------------------------------------------------------------------------------------------
0                               Aruba
1                         Afghanistan
2                              Angola
3                             Albania
4                United Arab Emirates
5                           Argentina
6                             Armenia
7                 Antigua and Barbuda
8                           Australia
9                             Austria
10                         Azerbaijan
11                            Burundi
12                            Belgium
13                              Benin
14                       Burkina Faso
15                         Bangladesh
16                           Bulgaria
17                            Bahrain
18                       Bahamas, The
19             Bosnia and Herzegovina
20                            Belarus
21                             Belize
22                            Bermuda
23                            Bolivia
24                             Brazil
25                           Barbados
26                  Brunei Darussalam
27                             Bhutan
28                           Botswana
29           Central African Republic
                    ...
165                        Seychelles
166              Syrian Arab Republic
167                              Chad
168                              Togo
169                          Thailand
170                        Tajikistan
171                      Turkmenistan
172                       Timor-Leste
173                             Tonga
174               Trinidad and Tobago
175                           Tunisia
176                            Turkey
177                          Tanzania
178                            Uganda
179                           Ukraine
180                           Uruguay
181                     United States
182                        Uzbekistan
183    St. Vincent and the Grenadines
184                     Venezuela, RB
185             Virgin Islands (U.S.)
186                           Vietnam
187                           Vanuatu
188                West Bank and Gaza
189                             Samoa
190                       Yemen, Rep.
191                      South Africa
192                  Congo, Dem. Rep.
193                            Zambia
194                          Zimbabwe
Name: CountryName, Length: 195, dtype: object
-----------------------------------------------------------------------------------------------
                        CountryName          IncomeGroup
0                             Aruba          High income
1                       Afghanistan           Low income
2                            Angola  Upper middle income
3                           Albania  Upper middle income
4              United Arab Emirates          High income
5                         Argentina          High income
6                           Armenia  Lower middle income
7               Antigua and Barbuda          High income
8                         Australia          High income
9                           Austria          High income
10                       Azerbaijan  Upper middle income
11                          Burundi           Low income
12                          Belgium          High income
13                            Benin           Low income
14                     Burkina Faso           Low income
15                       Bangladesh  Lower middle income
16                         Bulgaria  Upper middle income
17                          Bahrain          High income
18                     Bahamas, The          High income
19           Bosnia and Herzegovina  Upper middle income
20                          Belarus  Upper middle income
21                           Belize  Upper middle income
22                          Bermuda          High income
23                          Bolivia  Lower middle income
24                           Brazil  Upper middle income
25                         Barbados          High income
26                Brunei Darussalam          High income
27                           Bhutan  Lower middle income
28                         Botswana  Upper middle income
29         Central African Republic           Low income
..                              ...                  ...
165                      Seychelles          High income
166            Syrian Arab Republic  Lower middle income
167                            Chad           Low income
168                            Togo           Low income
169                        Thailand  Upper middle income
170                      Tajikistan  Lower middle income
171                    Turkmenistan  Upper middle income
172                     Timor-Leste  Lower middle income
173                           Tonga  Upper middle income
174             Trinidad and Tobago          High income
175                         Tunisia  Upper middle income
176                          Turkey  Upper middle income
177                        Tanzania           Low income
178                          Uganda           Low income
179                         Ukraine  Lower middle income
180                         Uruguay          High income
181                   United States          High income
182                      Uzbekistan  Lower middle income
183  St. Vincent and the Grenadines  Upper middle income
184                   Venezuela, RB          High income
185           Virgin Islands (U.S.)          High income
186                         Vietnam  Lower middle income
187                         Vanuatu  Lower middle income
188              West Bank and Gaza  Lower middle income
189                           Samoa  Lower middle income
190                     Yemen, Rep.  Lower middle income
191                    South Africa  Upper middle income
192                Congo, Dem. Rep.           Low income
193                          Zambia  Lower middle income
194                        Zimbabwe           Low income

[195 rows x 2 columns]
-----------------------------------------------------------------------------------------------
0                   Aruba
1             Afghanistan
2                  Angola
3                 Albania
4    United Arab Emirates
Name: CountryName, dtype: object

---

In [52]:
#Combining the row and column subsets
print(stats[1:5][['CountryName','IncomeGroup']])   #combining subsets
print('--------------------------------------------------------------------------------------------')
#alternatively
df=stats[['CountryName','IncomeGroup']]
print(df[1:5])
print('--------------------------------------------------------------------------------------------')
df2=stats[1:5]
print(df2[['CountryName','IncomeGroup']])

            CountryName          IncomeGroup
1           Afghanistan           Low income
2                Angola  Upper middle income
3               Albania  Upper middle income
4  United Arab Emirates          High income
--------------------------------------------------------------------------------------------
            CountryName          IncomeGroup
1           Afghanistan           Low income
2                Angola  Upper middle income
3               Albania  Upper middle income
4  United Arab Emirates          High income
--------------------------------------------------------------------------------------------
            CountryName          IncomeGroup
1           Afghanistan           Low income
2                Angola  Upper middle income
3               Albania  Upper middle income
4  United Arab Emirates          High income

---

---

In [58]:
#Basic operations with dataframes

#multiplication
result=stats.BirthRate * stats.InternetUsers
print(result.head())
print('--------------------------------------------------------------------------------------------------')

#Add new column
stats['newCol']=result
print(stats.head())
print('---------------------------------------------------------------------------------------------------')

#Deleting a column
stats=stats.drop('newCol',axis=1)
print(stats.head())

0    808.2516
1    207.9927
2    878.3135
3    736.5644
4    971.8720
dtype: float64
--------------------------------------------------------------------------------------------------
            CountryName CountryCode  BirthRate  InternetUsers  \
0                 Aruba         ABW     10.244           78.9
1           Afghanistan         AFG     35.253            5.9
2                Angola         AGO     45.985           19.1
3               Albania         ALB     12.877           57.2
4  United Arab Emirates         ARE     11.044           88.0

           IncomeGroup    newCol
0          High income  808.2516
1           Low income  207.9927
2  Upper middle income  878.3135
3  Upper middle income  736.5644
4          High income  971.8720
---------------------------------------------------------------------------------------------------
            CountryName CountryCode  BirthRate  InternetUsers  \
0                 Aruba         ABW     10.244           78.9
1           Afghanistan         AFG     35.253            5.9
2                Angola         AGO     45.985           19.1
3               Albania         ALB     12.877           57.2
4  United Arab Emirates         ARE     11.044           88.0

           IncomeGroup
0          High income
1           Low income
2  Upper middle income
3  Upper middle income
4          High income

---

In [73]:
#Filtering a dataframe
Filter=stats.InternetUsers<2  #An object that stores the boolen values, for every row
print(Filter.head())
print('--------------------------------------------------------------------------------------------')
print(stats[Filter])          #Prints the records meeting the condition stored in boolean, in this case Internet Users < 2
print('--------------------------------------------------------------------------------------------')
print(stats[stats.BirthRate>40])   #Prints the rocords with Birth rate > 40/10000
print('---------------------------------------------------------------------------------------------')
#print(stats[Filter and stats.BirthRate>40])  generates error because of ambiguity of comparison of both series of boolean filters
Filter2=stats.BirthRate>40
print(stats[Filter & Filter2])
print()
print(stats[(stats.InternetUsers<2) & (stats.BirthRate>40)]) #Using combination of filters
print('---------------------------------------------------------------------------------------------')
print(stats[stats.IncomeGroup=='High income'])

0    False
1    False
2    False
3    False
4    False
Name: InternetUsers, dtype: bool
--------------------------------------------------------------------------------------------
      CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
11        Burundi         BDI     44.151            1.3           Low income
52        Eritrea         ERI     34.800            0.9           Low income
55       Ethiopia         ETH     32.925            1.9           Low income
64         Guinea         GIN     37.337            1.6           Low income
117       Myanmar         MMR     18.119            1.6  Lower middle income
127         Niger         NER     49.661            1.7           Low income
154  Sierra Leone         SLE     36.729            1.7           Low income
156       Somalia         SOM     43.891            1.5           Low income
172   Timor-Leste         TLS     35.755            1.1  Lower middle income
--------------------------------------------------------------------------------------------
          CountryName CountryCode  BirthRate  InternetUsers  \
2              Angola         AGO     45.985           19.1
11            Burundi         BDI     44.151            1.3
14       Burkina Faso         BFA     40.551            9.1
65        Gambia, The         GMB     42.525           14.0
115              Mali         MLI     44.138            3.5
127             Niger         NER     49.661            1.7
128           Nigeria         NGA     40.045           38.0
156           Somalia         SOM     43.891            1.5
167              Chad         TCD     45.745            2.3
178            Uganda         UGA     43.474           16.2
192  Congo, Dem. Rep.         COD     42.394            2.2
193            Zambia         ZMB     40.471           15.4

             IncomeGroup
2    Upper middle income
11            Low income
14            Low income
65            Low income
115           Low income
127           Low income
128  Lower middle income
156           Low income
167           Low income
178           Low income
192           Low income
193  Lower middle income
---------------------------------------------------------------------------------------------
    CountryName CountryCode  BirthRate  InternetUsers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income

    CountryName CountryCode  BirthRate  InternetUsers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income
---------------------------------------------------------------------------------------------
               CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
0                    Aruba         ABW     10.244       78.90000  High income
4     United Arab Emirates         ARE     11.044       88.00000  High income
5                Argentina         ARG     17.716       59.90000  High income
7      Antigua and Barbuda         ATG     16.447       63.40000  High income
8                Australia         AUS     13.200       83.00000  High income
9                  Austria         AUT      9.400       80.61880  High income
12                 Belgium         BEL     11.200       82.17020  High income
17                 Bahrain         BHR     15.040       90.00004  High income
18            Bahamas, The         BHS     15.339       72.00000  High income
22                 Bermuda         BMU     10.400       95.30000  High income
25                Barbados         BRB     12.188       73.00000  High income
26       Brunei Darussalam         BRN     16.405       64.50000  High income
30                  Canada         CAN     10.900       85.80000  High income
31             Switzerland         CHE     10.200       86.34000  High income
32                   Chile         CHL     13.385       66.50000  High income
42          Cayman Islands         CYM     12.500       74.10000  High income
43                  Cyprus         CYP     11.436       65.45480  High income
44          Czech Republic         CZE     10.200       74.11040  High income
45                 Germany         DEU      8.500       84.17000  High income
47                 Denmark         DNK     10.000       94.62970  High income
53                   Spain         ESP      9.100       71.63500  High income
54                 Estonia         EST     10.300       79.40000  High income
56                 Finland         FIN     10.700       91.51440  High income
58                  France         FRA     12.300       81.91980  High income
61          United Kingdom         GBR     12.200       89.84410  High income
67       Equatorial Guinea         GNQ     35.362       16.40000  High income
68                  Greece         GRC      8.500       59.86630  High income
70               Greenland         GRL     14.500       65.80000  High income
72                    Guam         GUM     17.389       65.40000  High income
74    Hong Kong SAR, China         HKG      7.900       74.20000  High income
..                     ...         ...        ...            ...          ...
95             Korea, Rep.         KOR      8.600       84.77000  High income
96                  Kuwait         KWT     20.575       75.46000  High income
102          Liechtenstein         LIE      9.200       93.80000  High income
105              Lithuania         LTU     10.100       68.45290  High income
106             Luxembourg         LUX     11.300       93.77650  High income
107                 Latvia         LVA     10.200       75.23440  High income
108       Macao SAR, China         MAC     11.256       65.80000  High income
116                  Malta         MLT      9.500       68.91380  High income
126          New Caledonia         NCL     17.000       66.00000  High income
130            Netherlands         NLD     10.200       93.95640  High income
131                 Norway         NOR     11.600       95.05340  High income
133            New Zealand         NZL     13.120       82.78000  High income
134                   Oman         OMN     20.419       66.45000  High income
140                 Poland         POL      9.600       62.84920  High income
141            Puerto Rico         PRI     10.800       73.90000  High income
142               Portugal         PRT      7.900       62.09560  High income
144       French Polynesia         PYF     16.393       56.80000  High income
145                  Qatar         QAT     11.940       85.30000  High income
147     Russian Federation         RUS     13.200       67.97000  High income
149           Saudi Arabia         SAU     20.576       60.50000  High income
152              Singapore         SGP      9.300       81.00000  High income
161        Slovak Republic         SVK     10.100       77.88260  High income
162               Slovenia         SVN     10.200       72.67560  High income
163                 Sweden         SWE     11.800       94.78360  High income
165             Seychelles         SYC     18.600       50.40000  High income
174    Trinidad and Tobago         TTO     14.590       63.80000  High income
180                Uruguay         URY     14.374       57.69000  High income
181          United States         USA     12.500       84.20000  High income
184          Venezuela, RB         VEN     19.842       54.90000  High income
185  Virgin Islands (U.S.)         VIR     10.700       45.30000  High income

[67 rows x 5 columns]

In [75]:
#how to get the unique categories
stats.IncomeGroup.unique()

array(['High income', 'Low income', 'Upper middle income',
       'Lower middle income'], dtype=object)

---

In [77]:
#Quick exercise- find out everything about Malta
print(stats[stats.CountryName=='Malta'])

    CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
116       Malta         MLT        9.5        68.9138  High income

---

In [85]:
#using .at() and .iat() for accessing individual elements
#stats[2][2]   generates error
print(stats.head(4))
print('-------------------------------------------------------------------')
print(stats.iat[2,2])            #Accesses element using integral location, column and row heads are not counted
print('-------------------------------------------------------------------')
print(stats.at[2,'BirthRate'])   #Accesses element using their respective row label and column label

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income
-------------------------------------------------------------------
45.985
-------------------------------------------------------------------
45.985

In [89]:
#demonstrating difference in working of .iat and .at
subs10=stats[::10]  #subset with positive 10 increment
print(subs10)
print('--------------------------------------------------------------------')
print(subs10.iat[10,0])              #accesses at row index 10 or 11th row and column index 0 or Country Name
print('--------------------------------------------------------------------')
print(subs10.at[10,'CountryName'])   #accesses at row label 10 and coumn- Country Name

     CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0          Aruba         ABW     10.244      78.900000          High income
10    Azerbaijan         AZE     18.300      58.700000  Upper middle income
20       Belarus         BLR     12.500      54.170000  Upper middle income
30        Canada         CAN     10.900      85.800000          High income
40    Costa Rica         CRI     15.022      45.960000  Upper middle income
50       Ecuador         ECU     21.070      40.353684  Upper middle income
60         Gabon         GAB     30.555       9.200000  Upper middle income
70     Greenland         GRL     14.500      65.800000          High income
80         India         IND     20.291      15.100000  Lower middle income
90    Kazakhstan         KAZ     22.730      54.000000  Upper middle income
100        Libya         LBY     21.425      16.500000  Upper middle income
110      Moldova         MDA     12.141      45.000000  Lower middle income
120   Mozambique         MOZ     39.705       5.400000           Low income
130  Netherlands         NLD     10.200      93.956400          High income
140       Poland         POL      9.600      62.849200          High income
150        Sudan         SDN     33.477      22.700000  Lower middle income
160     Suriname         SUR     18.455      37.400000  Upper middle income
170   Tajikistan         TJK     30.792      16.000000  Lower middle income
180      Uruguay         URY     14.374      57.690000          High income
190  Yemen, Rep.         YEM     32.947      20.000000  Lower middle income
--------------------------------------------------------------------
Libya
--------------------------------------------------------------------
Azerbaijan